[Unit]
Description=FanControlPy daemon
After=lm_sensors.service

[Service]
ExecStart=/home/nicolai/Daten/Programmieren/_System/FanControlPy/main.py --loglevel info
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
